.body_image {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("../../../assets/ionela-mat-DQzGtBbtMa8-unsplash.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}